* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Gilroy";
}

html, body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100vh;
  width: 100%;
  /* background-color: rgb(0, 0, 0); */
  background-image: linear-gradient(to bottom right, #015934,  rgba(7, 49, 123, 0.727));

}

#nav {
  /* background-color: transparent; */
  background-color: #052316;
  width: 100%;
  height: 6%;
  display: flex;
  align-items: center;
}
#nav h1{
  font-size: 20px;
  color: white;
}

#nav ul {
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10vw;
  list-style-type: none;
}

.nav-el {
  font-size: 22px;
  color: white;
  font-weight: 400;
}

#nav ul li a {
  text-decoration: none;
}

ul li a {
  text-decoration: none;
  display: flex;
  padding: 5px 40px;
  position: relative;
}

ul li a:before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 2px;
  background-color: #1cd8d2;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.5s;
}

ul li a::after {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
  height: 2px;
  background-color: #1cd8d2;
  transform: scaleX(0);
  transform-origin: right;
  transition: all 0.5s;
}

ul li a:hover {
  color: #1cd8d2;
  background-color: #232121;
  cursor: pointer;
}

ul li a:hover::before,
ul li a:hover::after {
  transform: scaleX(1);
}

#nav:hover::before,
#nav:hover::after {
  transform: scaleX(1);
}

#main-layout{
  height: 80%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  text-align: center;
  background-color: #1cd8d245;
}