*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom right, #015934,  rgba(7, 49, 123, 0.727));
}

#nav{
    background-image: linear-gradient(to bottom right, #028054,  rgb(0, 73, 200));
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: rgb(188, 188, 188);
}

.nav-left{
    font-size: 12px;
    font-weight: 100;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.nav-left i{
    font-size: 24px;
}

#nav a{
    color: rgb(188, 188, 188);
    text-decoration: none;
}