@font-face {
    font-family: 'custom_font';
    src: url('../Custom_Font.ttf'); 
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom right, #023405 10%, rgb(1, 21, 56) 90%);
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#nav{
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.nav-left{
    font-size: 12px;
    font-weight: 100;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.nav-left i{
    font-size: 24px;
    color: white;
    background: linear-gradient(45deg, rgb(255, 255, 255), rgb(1, 72, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-left h1{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.896);
}

.nav-right{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.nav-mid{
    display: flex;
    flex-direction: row;
    gap: 20px;
}


#nav .nav-mid a{
    color: rgb(188, 188, 188);
    text-decoration: none;
    font-weight: 450;
    font-size: 16px;
    font-family: 'custom_font';
}

.gemini-logo{
    height: 30px;
    width: 30px;
}

.nav-right h1{
    font-size: 19px;
    color: rgba(255, 255, 255, 0.714);
    background: linear-gradient(45deg, rgba(10, 142, 10, 0.442), rgba(1, 72, 1, 0.442));
    padding: 2px 10px;
    border-radius: 50px;
    box-shadow: 0px 0px 10px 0px rgba(4, 189, 16, 0.5);
    text-align: center;
}

#nav .nav-right a{
    color: rgba(255, 255, 255, 0.918);
    text-decoration: none;
    font-weight: 400;
}

#nav .nav-right i{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.89);
    text-decoration: none;
    font-weight: 450;
}


/* Main Layout */
#main-layout{
    margin-top: 7vh;
    color: rgb(209, 206, 206);
    width: 80%;
    height: 91vh;
    background-color: rgba(255, 255, 255, 0.089);
    border: 1px solid #056c20a7;
    border-radius: 10px;
}

.content{
    text-align: center;
}

.content h1{
    font-size: 22px;
    font-weight: 500;
    border: 1px solid #00ff44a7;
    border-radius: 10px;
    background: linear-gradient(to bottom right, #023405 10%, rgb(1, 21, 56) 90%);
    padding: 5px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

.content-bottom h2{
    /* margin-top: 20px; */
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    border: 2px solid #056c20a7;
    border-radius: 10px;
    background: linear-gradient(to bottom right, #023405 10%, rgb(1, 21, 56) 90%);
    padding: 10px;
}
